@import "./variables.scss";

* {
  font-family: $font-family-secondary;
  font-weight: $font-weight-secondary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  overflow-x: hidden;
  padding: 7px;
  .app-header {
    height: 120px;
    display: grid;
    grid-template-columns: 70px 1fr 42px;
    max-width: $max-width;
    margin: 0 auto;
    .app-header-center {
      justify-content: center;
      display: flex;
      flex-direction: row;
      .app-title {
        font-family: $font-family-primary;
        font-size: $font-size-primary;
        font-weight: $font-weight-primary;
        margin: 0 7px;
      }
      .app-header-icon {
        font-size: 42px;
      }
    }
  }
}
.app-lightmode {
  background: url("../media/background-light.png") no-repeat center center /
    cover;

  color: $light-text-colour;
  border: 1px solid $light-border-colour;
  input {
    color: $light-text-colour;
  }
  .app-header {
    .app-header-icon {
      color: $light-blue-accent-colour;
    }
  }
}
.app-darkmode {
  background: url("../media/background-dark.png") no-repeat center center /
    cover;

  color: $dark-text-colour;
  border: 1px solid $dark-border-colour;
  input {
    color: $dark-text-colour;
  }
  .app-header {
    .app-header-icon {
      color: $dark-blue-accent-colour;
    }
  }
}

@media only screen and (max-width: 767px) {
  .app-header {
    max-height: 80px;
    grid-template-columns: 50px 1fr 35px;
    .app-header-center {
      .app-title {
        font-size: 28px !important;
      }
      .app-header-icon {
        font-size: 28px !important;
      }
    }
  }
}
