@import "./variables.scss";

* {
  font-family: $font-family-secondary;
  font-size: $font-size-secondary;
  font-weight: $font-weight-secondary;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .chat-dashboard {
    padding: 1rem;
    .app-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 260px;
      .app-title {
        font-family: $font-family-primary;
        font-size: $font-size-primary;
        font-weight: $font-weight-primary;
        margin-top: -7px;
        text-align: center;
      }
      .app-header-icon {
        font-size: 2.1rem;
        margin-top: -14px;
      }
    }
  }
}
.app-lightmode {
  background: url("../media/background-light.png") no-repeat center center fixed;

  color: $light-text-colour;
  border: 1px solid $light-border-colour;
  .chat-dashboard {
    .app-header {
      .app-header-icon {
        color: $light-blue-accent-colour;
      }
    }
  }
}
.app-darkmode {
  background: url("../media/background-dark.png") no-repeat center center fixed;

  color: $dark-text-colour;
  border: 1px solid $dark-border-colour;
  .chat-dashboard {
    .app-header {
      .app-header-icon {
        color: $dark-blue-accent-colour;
      }
    }
  }
}
